body {
    font-family: Arial, sans-serif;
    width: 500px;
    margin: 40px auto;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    text-align: left;
}
